<cloud-title></cloud-title>
<br>
<mat-card><h1 style="margin-bottom: 10px; color: green;">Check out some of our specials!</h1></mat-card>
<br>

<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>This page is intentionally left blank</mat-card-title>
      <mat-card-subtitle>This is for <strong>Taco</strong> lovers</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/specials.jpg" alt="Photo of Taco">
    <mat-card-actions>
        <a routerLink = "/home"><button mat-raised-button color="accent">HOME</button></a>
    </mat-card-actions>
</mat-card>
  